n8n-wethr/workflows/audit.json
{
  "updatedAt": "2026-04-03T01:50:56.000Z",
  "createdAt": "2026-03-28T01:47:23.685Z",
  "id": "4qdQAB9T0s5Q5JCo",
  "name": "Wethr Divergence Audit",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        96
      ],
      "id": "80eb4db3-6963-4a02-80ea-3a6719b1dc99",
      "name": "Daily 9AM Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/data/wethr/settled_trades.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        444,
        96
      ],
      "id": "c19cdeb6-4519-4b0a-abf8-a8ec37a12179",
      "name": "Read Export File"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst raw = binaryData.toString('utf8');\nconst trades = JSON.parse(raw);\n\nif (trades.length === 0) {\n  return [{ json: { error: 'No settled trades in export', trades: [] } }];}\nconst cityConfig = {\n  nyc:          { lat: 40.77, lon: -73.87, station: 'KLGA', unit: 'fahrenheit', tz: 'America/New_York',       iem_station: 'LGA', iem_network: 'NY_ASOS' },\n  chicago:      { lat: 41.98, lon: -87.90, station: 'KORD', unit: 'fahrenheit', tz: 'America/Chicago',        iem_station: 'ORD', iem_network: 'IL_ASOS' },\n  miami:        { lat: 25.79, lon: -80.29, station: 'KMIA', unit: 'fahrenheit', tz: 'America/New_York',       iem_station: 'MIA', iem_network: 'FL_ASOS' },\n  atlanta:      { lat: 33.64, lon: -84.43, station: 'KATL', unit: 'fahrenheit', tz: 'America/New_York',       iem_station: 'ATL', iem_network: 'GA_ASOS' },\n  dallas:       { lat: 32.90, lon: -97.04, station: 'KDFW', unit: 'fahrenheit', tz: 'America/Chicago',        iem_station: 'DFW', iem_network: 'TX_ASOS' },\n  seattle:      { lat: 47.45, lon: -122.31,station: 'KSEA', unit: 'fahrenheit', tz: 'America/Los_Angeles',    iem_station: 'SEA', iem_network: 'WA_ASOS' },\n  denver:       { lat: 39.86, lon: -104.67,station: 'KDEN', unit: 'fahrenheit', tz: 'America/Denver',         iem_station: 'DEN', iem_network: 'CO_ASOS' },\n  los_angeles:  { lat: 33.94, lon: -118.41,station: 'KLAX', unit: 'fahrenheit', tz: 'America/Los_Angeles',    iem_station: 'LAX', iem_network: 'CA_ASOS' },\n  toronto:      { lat: 43.68, lon: -79.63, station: 'CYYZ', unit: 'celsius',    tz: 'America/Toronto',        iem_station: 'CYYZ', iem_network: 'CA_ON_ASOS' },\n  london:       { lat: 51.51, lon: 0.05,   station: 'EGLC', unit: 'celsius',    tz: 'Europe/London',          iem_station: 'EGLC', iem_network: 'GB__ASOS' },\n  seoul:        { lat: 37.46, lon: 126.44, station: 'RKSI', unit: 'celsius',    tz: 'Asia/Seoul',             iem_station: 'RKSI', iem_network: 'KR__ASOS' },\n  paris:        { lat: 48.73, lon: 2.37,   station: 'LFPO', unit: 'celsius',    tz: 'Europe/Paris',           iem_station: 'LFPO', iem_network: 'FR__ASOS' },\n  tel_aviv:     { lat: 32.01, lon: 34.77,  station: 'LLBG', unit: 'celsius',    tz: 'Asia/Jerusalem',         iem_station: 'LLBG', iem_network: 'IS__ASOS' },\n  sao_paulo:    { lat: -23.43,lon: -46.47, station: 'SBGR', unit: 'celsius',    tz: 'America/Sao_Paulo',      iem_station: 'SBGR', iem_network: 'BR__ASOS' },\n  buenos_aires: { lat: -34.82,lon: -58.54, station: 'SAEZ', unit: 'celsius',    tz: 'America/Argentina/Buenos_Aires', iem_station: 'SAEZ', iem_network: 'AR__ASOS' },\n};\nconst cityDates = {};\nfor (const t of trades) {\n  const key = `${t.city}|${t.target_date}`;\n  const cfg = cityConfig[t.city];\n  if (!cfg) continue;\n\n  if (!cityDates[key]) {\n    cityDates[key] = {\n      city: t.city,\n      target_date: t.target_date,\n      lat: cfg.lat,\n      lon: cfg.lon,\n      station: cfg.station,\n      unit: cfg.unit,\n      tz: cfg.tz,\n      iem_station: cfg.iem_station,   // \u2190 add\n      iem_network: cfg.iem_network,   // \u2190 add\n      trade_count: 0,\n      trades: []\n    };\n  }\n  cityDates[key].trade_count++;\n  cityDates[key].trades.push(t);\n}\nreturn Object.values(cityDates).map(cd => ({ json: cd }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "bf6dd571-4adf-4067-a2c5-9dc3afbc7da7",
      "name": "Read Settled Trades"
    },
    {
      "parameters": {
        "url": "https://archive-api.open-meteo.com/v1/archive",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "daily",
              "value": "temperature_2m_max"
            },
            {
              "name": "timezone",
              "value": "={{ $json.tz }}"
            },
            {
              "name": "start_date",
              "value": "={{ $json.target_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.target_date }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ $json.unit }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        780,
        0
      ],
      "id": "0d79561f-4454-47e1-ad30-0920c05274f5",
      "name": "Fetch Open-Meteo",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const trades = $('Read Settled Trades').all();\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const tradeItem = trades[i].json;\n  const merged = items[i].json;\n  \n  const city = tradeItem.city;\n  const date = tradeItem.target_date;\n  const cityTrades = tradeItem.trades;\n  \n  // --- Extract Open-Meteo observation ---\n  let om_temp = null;\n  try {\n    const omDaily = merged.daily;\n    if (omDaily && omDaily.temperature_2m_max && omDaily.temperature_2m_max[0] != null) {\n      om_temp = omDaily.temperature_2m_max[0];\n    }\n  } catch (e) {\n    om_temp = null;\n  }\n  \n  // --- Extract IEM observation ---\n  let iem_temp = null;\n  try {\n    const iemData = merged.data;\n    if (iemData && iemData.length > 0) {\n      const obs = iemData[0];\n      // IEM always returns both max_tmpf and max_tmpc\n      // Match to bracket_unit of trades for this city\n      const bracketUnit = cityTrades[0]?.bracket_unit;\n      if (bracketUnit === 'F') {\n        iem_temp = obs.max_tmpf != null ? obs.max_tmpf : null;\n      } else {\n        if (obs.max_tmpc != null) {\n          iem_temp = obs.max_tmpc;\n        } else if (obs.max_tmpf != null) {\n          iem_temp = Math.round(((obs.max_tmpf - 32) * 5 / 9) * 10) / 10;\n        }\n      }\n    }\n  } catch (e) {\n    iem_temp = null;\n  }\n  \n  // --- Estimate WU temp from winning bracket midpoint ---\n  let wu_temp = null;\n  const winningTrade = cityTrades.find(t => t.outcome === 1 && t.side === 'YES');\n  if (winningTrade) {\n    wu_temp = (winningTrade.bracket_lower + winningTrade.bracket_upper) / 2;\n  }\n  \n  // --- Compute divergences ---\n  const om_divergence = (om_temp != null && wu_temp != null) ?\n    Math.round((om_temp - wu_temp) * 10) / 10 : null;\n  const iem_divergence = (iem_temp != null && wu_temp != null) ?\n    Math.round((iem_temp - wu_temp) * 10) / 10 : null;\n  const om_iem_divergence = (om_temp != null && iem_temp != null) ?\n    Math.round((om_temp - iem_temp) * 10) / 10 : null;\n  \n  // --- Bracket flip analysis per trade ---\n  const tradeDetails = cityTrades.map(t => {\n    const low = t.bracket_lower;\n    const high = t.bracket_upper;\n    const wu_hit = wu_temp != null && wu_temp >= low && wu_temp < high;\n    const om_hit = om_temp != null && om_temp >= low && om_temp < high;\n    const iem_hit = iem_temp != null && iem_temp >= low && iem_temp < high;\n    \n    return {\n      trade_id: t.trade_id,\n      bracket_label: t.bracket_label,\n      bracket_lower: low,\n      bracket_upper: high,\n      bracket_unit: t.bracket_unit,\n      side: t.side,\n      entry_price: t.entry_price,\n      pnl: t.pnl,\n      model_prob: t.model_prob,\n      market_prob: t.market_prob,\n      wu_hit,\n      om_hit: om_temp != null ? om_hit : null,\n      iem_hit: iem_temp != null ? iem_hit : null,\n      om_flipped: (om_temp != null && wu_temp != null) ? (om_hit !== wu_hit) : null,\n      iem_flipped: (iem_temp != null && wu_temp != null) ? (iem_hit !== wu_hit) : null,\n    };\n  });\n  \n  const bracketUnit = cityTrades[0]?.bracket_unit || '';\n  \n  results.push({\n    json: {\n      city,\n      date,\n      station: tradeItem.station,\n      bracket_unit: bracketUnit,\n      wu_temp,\n      om_temp,\n      iem_temp,\n      om_divergence,\n      iem_divergence,\n      om_iem_divergence,\n      n_trades: cityTrades.length,\n      om_n_flipped: tradeDetails.filter(f => f.om_flipped === true).length,\n      iem_n_flipped: tradeDetails.filter(f => f.iem_flipped === true).length,\n      trade_details: tradeDetails,\n      has_om: om_temp != null,\n      has_iem: iem_temp != null,\n      has_wu: wu_temp != null,\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        96
      ],
      "id": "d772f28e-97d8-4193-92aa-32d4c4947c0b",
      "name": "Compute Divergence"
    },
    {
      "parameters": {
        "url": "https://mesonet.agron.iastate.edu/api/1/daily.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "station",
              "value": "={{ $json.iem_station }}"
            },
            {
              "name": "network",
              "value": "={{ $json.iem_network }}"
            },
            {
              "name": "date",
              "value": "={{ $json.target_date }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        780,
        192
      ],
      "id": "e6c5e8e1-92c1-42af-b8fc-babff168a84b",
      "name": "Fetch IEM",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1000,
        96
      ],
      "id": "14100c4f-996e-4654-8044-287da0ad18ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst runDate = new Date().toISOString().split('T')[0];\n\nlet totalPnl = 0;\nlet wins = 0;\nlet losses = 0;\nlet totalTrades = 0;\nlet flips_om = 0;\nlet flips_iem = 0;\nconst cityResults = [];\n\nfor (const item of items) {\n  const d = item.json;\n  for (const t of d.trade_details) {\n    totalTrades++;\n    const pnl = t.pnl || 0;\n    totalPnl += pnl;\n    if (pnl > 0) wins++;\n    else if (pnl < 0) losses++;\n    if (t.om_flipped) flips_om++;\n    if (t.iem_flipped) flips_iem++;\n  }\n  \n  const pnlSum = d.trade_details.reduce((s, t) => s + (t.pnl || 0), 0);\n  const emoji = pnlSum >= 0 ? '\\u2705' : '\\u274c';\n  cityResults.push(\n    `${emoji} ${d.city}: $${pnlSum.toFixed(2)} (${d.n_trades} trade${d.n_trades > 1 ? 's' : ''})`\n    + (d.om_iem_divergence != null ? ` | OM-IEM: ${d.om_iem_divergence > 0 ? '+' : ''}${d.om_iem_divergence}\\u00b0` : '')\n  );\n}\n\nconst winRate = totalTrades > 0 ? ((wins / totalTrades) * 100).toFixed(0) : 0;\nconst pnlEmoji = totalPnl >= 0 ? '\\ud83d\\udcc8' : '\\ud83d\\udcc9';\n\nlet msg = `${pnlEmoji} *Wethr Divergence Audit*\\n`;\nmsg += `\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n`;\nmsg += `*Date:* ${runDate}\\n`;\nmsg += `*Trades:* ${totalTrades} | *W/L:* ${wins}/${losses} (${winRate}%)\\n`;\nmsg += `*Net PnL:* $${totalPnl.toFixed(2)}\\n\\n`;\n\nif (flips_om > 0 || flips_iem > 0) {\n  msg += `\\u26a0\\ufe0f *Bracket Flips:* OM=${flips_om}, IEM=${flips_iem}\\n\\n`;\n}\n\nmsg += `*By City:*\\n`;\nmsg += cityResults.join('\\n');\n\nreturn [{ json: { message: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1668,
        400
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-summary00001",
      "name": "Build Summary"
    },
    {
      "parameters": {
        "chatId": "8670810799",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1892,
        400
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-telegram0001",
      "name": "Send Telegram Summary",
      "credentials": {
        "telegramApi": {
          "id": "tg_wethr_bot_001",
          "name": "Telegram Wethr Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "empty-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        96
      ],
      "id": "guard-empty-data-0001",
      "name": "Has Trades?"
    },
    {
      "parameters": {
        "chatId": "8670810799",
        "text": "\u26a0\ufe0f *Wethr Divergence Audit*\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nNo settled trades to audit today.\nThe export file was empty \u2014 check Wethr's export pipeline.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        250
      ],
      "id": "guard-empty-alert-0001",
      "name": "Alert No Trades",
      "credentials": {
        "telegramApi": {
          "id": "tg_wethr_bot_001",
          "name": "Telegram Wethr Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Start Run: insert a row into audit_runs with run_id = n8n execution id.\n// Downstream nodes reach back via $('Start Run').first().json._run_id.\nconst sqlite3 = require('sqlite3');\nconst runId      = String($execution.id);\nconst startedAt  = new Date().toISOString();\nconst triggerMode = ($execution && $execution.mode) ? $execution.mode : 'manual';\nconst workflowId = ($workflow && $workflow.id) ? $workflow.id : null;\n\nconst db = new sqlite3.Database('/data/wethr/wethr_audit.db');\nawait new Promise((resolve, reject) => {\n  db.run(\n    `INSERT INTO audit_runs (run_id, started_at, status, trigger_type, workflow_id)\n     VALUES (?, ?, 'running', ?, ?)`,\n    [runId, startedAt, triggerMode, workflowId],\n    (err) => err ? reject(err) : resolve()\n  );\n});\nawait new Promise((resolve) => db.close(() => resolve()));\n\n// Pass the trigger's input through unchanged so Read Export File still runs once.\nconst items = $input.all();\nconst passthrough = items.length > 0 ? items : [{ json: {} }];\nreturn passthrough.map(item => ({\n  json: { ...item.json, _run_id: runId, _started_at: startedAt, _trigger_mode: triggerMode }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        96
      ],
      "id": "start-run-0001",
      "name": "Start Run"
    },
    {
      "parameters": {
        "jsCode": "// Shape Rows: single source of truth for the column mapping. Consumes items\n// from Compute Divergence and produces a normalized shape that Upsert Daily,\n// Upsert Trades, and Build Summary can all consume without re-extracting.\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  const daily_row = {\n    city:              d.city,\n    market_date:       d.date,\n    station:           d.station ?? null,\n    wu_temp:           d.wu_temp ?? null,\n    om_temp:           d.om_temp ?? null,\n    iem_temp:          d.iem_temp ?? null,\n    om_divergence:     d.om_divergence ?? null,\n    iem_divergence:    d.iem_divergence ?? null,\n    om_iem_divergence: d.om_iem_divergence ?? null,\n    bracket_unit:      d.bracket_unit ?? null,\n    n_trades:          d.n_trades ?? null,\n    om_n_flipped:      d.om_n_flipped ?? null,\n    iem_n_flipped:     d.iem_n_flipped ?? null,\n    has_om:            d.has_om ? 1 : 0,\n    has_iem:           d.has_iem ? 1 : 0,\n    has_wu:            d.has_wu ? 1 : 0,\n  };\n\n  const trade_rows = (d.trade_details || []).map(t => ({\n    trade_id:       String(t.trade_id),\n    city:           d.city,\n    market_date:    d.date,\n    bracket_label:  t.bracket_label ?? null,\n    side:           t.side ?? null,\n    entry_price:    t.entry_price ?? null,\n    pnl:            t.pnl ?? null,\n    model_prob:     t.model_prob ?? null,\n    market_prob:    t.market_prob ?? null,\n    wu_temp:        d.wu_temp ?? null,\n    om_temp:        d.om_temp ?? null,\n    iem_temp:       d.iem_temp ?? null,\n    om_divergence:  d.om_divergence ?? null,\n    iem_divergence: d.iem_divergence ?? null,\n    wu_hit:     t.wu_hit     == null ? null : (t.wu_hit     ? 1 : 0),\n    om_hit:     t.om_hit     == null ? null : (t.om_hit     ? 1 : 0),\n    iem_hit:    t.iem_hit    == null ? null : (t.iem_hit    ? 1 : 0),\n    om_flipped: t.om_flipped == null ? null : (t.om_flipped ? 1 : 0),\n    iem_flipped:t.iem_flipped== null ? null : (t.iem_flipped? 1 : 0),\n  }));\n\n  out.push({\n    json: {\n      daily_row,\n      trade_rows,\n      // Keep the raw fields available too \u2014 Build Summary uses them directly.\n      city: d.city,\n      date: d.date,\n      n_trades: d.n_trades,\n      om_iem_divergence: d.om_iem_divergence,\n      trade_details: d.trade_details,\n    }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        96
      ],
      "id": "shape-rows-0001",
      "name": "Shape Rows"
    },
    {
      "parameters": {
        "jsCode": "\n// Upsert Daily: UPSERT one row per (city, market_date) into divergences_daily.\n// Replaces the old Build Daily CSV + Save Daily CSV pair.\nconst sqlite3 = require('sqlite3');\nconst items = $input.all();\nconst runId = $('Start Run').first().json._run_id;\nconst nowIso = new Date().toISOString();\n\nconst db = new sqlite3.Database('/data/wethr/wethr_audit.db');\nconst runSql = (sql, params=[]) => new Promise((resolve, reject) => {\n  db.run(sql, params, function(err) { err ? reject(err) : resolve(this); });\n});\n\nconst SQL = `\nINSERT INTO divergences_daily\n  (city, market_date, station, wu_temp, om_temp, iem_temp,\n   om_divergence, iem_divergence, om_iem_divergence,\n   bracket_unit, n_trades, om_n_flipped, iem_n_flipped,\n   has_om, has_iem, has_wu,\n   first_seen_run_id, first_seen_at, last_seen_run_id, last_seen_at)\nVALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)\nON CONFLICT(city, market_date) DO UPDATE SET\n  station           = excluded.station,\n  wu_temp           = excluded.wu_temp,\n  om_temp           = excluded.om_temp,\n  iem_temp          = excluded.iem_temp,\n  om_divergence     = excluded.om_divergence,\n  iem_divergence    = excluded.iem_divergence,\n  om_iem_divergence = excluded.om_iem_divergence,\n  bracket_unit      = excluded.bracket_unit,\n  n_trades          = excluded.n_trades,\n  om_n_flipped      = excluded.om_n_flipped,\n  iem_n_flipped     = excluded.iem_n_flipped,\n  has_om            = excluded.has_om,\n  has_iem           = excluded.has_iem,\n  has_wu            = excluded.has_wu,\n  last_seen_run_id  = excluded.last_seen_run_id,\n  last_seen_at      = excluded.last_seen_at\n`;\n\nlet upserted = 0;\ntry {\n  await runSql('BEGIN');\n  for (const item of items) {\n    const r = item.json.daily_row;\n    if (!r) continue;\n    await runSql(SQL, [\n      r.city, r.market_date, r.station, r.wu_temp, r.om_temp, r.iem_temp,\n      r.om_divergence, r.iem_divergence, r.om_iem_divergence,\n      r.bracket_unit, r.n_trades, r.om_n_flipped, r.iem_n_flipped,\n      r.has_om, r.has_iem, r.has_wu,\n      runId, nowIso, runId, nowIso\n    ]);\n    upserted++;\n  }\n  await runSql('COMMIT');\n} catch (e) {\n  await runSql('ROLLBACK').catch(() => {});\n  await new Promise(r => db.close(() => r()));\n  throw e;\n}\nawait new Promise(r => db.close(() => r()));\n\nreturn [{ json: { table: 'divergences_daily', upserted, run_id: runId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        0
      ],
      "id": "upsert-daily-0001",
      "name": "Upsert Daily"
    },
    {
      "parameters": {
        "jsCode": "\n// Upsert Trades: UPSERT one row per trade_id into divergences_trades.\n// Replaces the old Build Trade CSV + Save Trade CSV pair.\nconst sqlite3 = require('sqlite3');\nconst items = $input.all();\nconst runId = $('Start Run').first().json._run_id;\nconst nowIso = new Date().toISOString();\n\nconst db = new sqlite3.Database('/data/wethr/wethr_audit.db');\nconst runSql = (sql, params=[]) => new Promise((resolve, reject) => {\n  db.run(sql, params, function(err) { err ? reject(err) : resolve(this); });\n});\n\nconst SQL = `\nINSERT INTO divergences_trades\n  (trade_id, city, market_date, bracket_label, side,\n   entry_price, pnl, model_prob, market_prob,\n   wu_temp, om_temp, iem_temp, om_divergence, iem_divergence,\n   wu_hit, om_hit, iem_hit, om_flipped, iem_flipped,\n   first_seen_run_id, first_seen_at, last_seen_run_id, last_seen_at)\nVALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)\nON CONFLICT(trade_id) DO UPDATE SET\n  city            = excluded.city,\n  market_date     = excluded.market_date,\n  bracket_label   = excluded.bracket_label,\n  side            = excluded.side,\n  entry_price     = excluded.entry_price,\n  pnl             = excluded.pnl,\n  model_prob      = excluded.model_prob,\n  market_prob     = excluded.market_prob,\n  wu_temp         = excluded.wu_temp,\n  om_temp         = excluded.om_temp,\n  iem_temp        = excluded.iem_temp,\n  om_divergence   = excluded.om_divergence,\n  iem_divergence  = excluded.iem_divergence,\n  wu_hit          = excluded.wu_hit,\n  om_hit          = excluded.om_hit,\n  iem_hit         = excluded.iem_hit,\n  om_flipped      = excluded.om_flipped,\n  iem_flipped     = excluded.iem_flipped,\n  last_seen_run_id = excluded.last_seen_run_id,\n  last_seen_at     = excluded.last_seen_at\n`;\n\nlet upserted = 0;\ntry {\n  await runSql('BEGIN');\n  for (const item of items) {\n    const rows = item.json.trade_rows || [];\n    for (const r of rows) {\n      await runSql(SQL, [\n        r.trade_id, r.city, r.market_date, r.bracket_label, r.side,\n        r.entry_price, r.pnl, r.model_prob, r.market_prob,\n        r.wu_temp, r.om_temp, r.iem_temp, r.om_divergence, r.iem_divergence,\n        r.wu_hit, r.om_hit, r.iem_hit, r.om_flipped, r.iem_flipped,\n        runId, nowIso, runId, nowIso\n      ]);\n      upserted++;\n    }\n  }\n  await runSql('COMMIT');\n} catch (e) {\n  await runSql('ROLLBACK').catch(() => {});\n  await new Promise(r => db.close(() => r()));\n  throw e;\n}\nawait new Promise(r => db.close(() => r()));\n\nreturn [{ json: { table: 'divergences_trades', upserted, run_id: runId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        192
      ],
      "id": "upsert-trades-0001",
      "name": "Upsert Trades"
    },
    {
      "parameters": {
        "numberInputs": 3,
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2132,
        400
      ],
      "id": "finalize-merge-0001",
      "name": "Finalize Merge"
    },
    {
      "parameters": {
        "jsCode": "\n// Finish Run: update audit_runs with completion status and upsert counts.\n// Runs once after the three downstream branches (Upsert Daily, Upsert Trades,\n// Send Telegram Summary) have all completed via the Finalize Merge node.\nconst sqlite3 = require('sqlite3');\nconst runId = $('Start Run').first().json._run_id;\nconst finishedAt = new Date().toISOString();\n\n// Pull counts from the two upsert nodes (they each emit {upserted, ...}).\nconst daily  = $('Upsert Daily').all();\nconst trades = $('Upsert Trades').all();\nconst dailyCount = daily.reduce((s, i) => s + (i.json.upserted || 0), 0);\nconst tradeCount = trades.reduce((s, i) => s + (i.json.upserted || 0), 0);\n\n// Count how many trades were fed into the audit (before divergence compute).\nlet nTradesInput = 0;\ntry {\n  const settled = $('Read Settled Trades').all();\n  for (const it of settled) {\n    const ts = it.json && it.json.trades;\n    if (Array.isArray(ts)) nTradesInput += ts.length;\n  }\n} catch (e) { /* best-effort */ }\n\nconst db = new sqlite3.Database('/data/wethr/wethr_audit.db');\nawait new Promise((resolve, reject) => {\n  db.run(\n    `UPDATE audit_runs\n        SET finished_at = ?,\n            status = 'completed',\n            daily_rows_upserted = ?,\n            trade_rows_upserted = ?,\n            n_trades_input = ?\n      WHERE run_id = ?`,\n    [finishedAt, dailyCount, tradeCount, nTradesInput, runId],\n    (err) => err ? reject(err) : resolve()\n  );\n});\nawait new Promise(r => db.close(() => r()));\n\nreturn [{\n  json: {\n    run_id: runId,\n    status: 'completed',\n    finished_at: finishedAt,\n    daily_rows_upserted: dailyCount,\n    trade_rows_upserted: tradeCount,\n    n_trades_input: nTradesInput,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        400
      ],
      "id": "finish-run-0001",
      "name": "Finish Run"
    },
    {
      "parameters": {
        "jsCode": "\n// Finish Run (No Trades): the 'no settled trades today' path still needs to\n// close out the audit_runs row cleanly so we don't leave it stuck on 'running'.\nconst sqlite3 = require('sqlite3');\nconst runId = $('Start Run').first().json._run_id;\nconst finishedAt = new Date().toISOString();\n\nconst db = new sqlite3.Database('/data/wethr/wethr_audit.db');\nawait new Promise((resolve, reject) => {\n  db.run(\n    `UPDATE audit_runs\n        SET finished_at = ?,\n            status = 'completed',\n            n_trades_input = 0,\n            notes = 'no settled trades in input'\n      WHERE run_id = ?`,\n    [finishedAt, runId],\n    (err) => err ? reject(err) : resolve()\n  );\n});\nawait new Promise(r => db.close(() => r()));\n\nreturn [{ json: { run_id: runId, status: 'completed', notes: 'no trades' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        250
      ],
      "id": "finish-run-nt-0001",
      "name": "Finish Run (No Trades)"
    }
  ],
  "connections": {
    "Read Export File": {
      "main": [
        [
          {
            "node": "Read Settled Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settled Trades": {
      "main": [
        [
          {
            "node": "Has Trades?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Open-Meteo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Divergence": {
      "main": [
        [
          {
            "node": "Shape Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch IEM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compute Divergence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Send Telegram Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trades?": {
      "main": [
        [
          {
            "node": "Fetch IEM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Open-Meteo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert No Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Run": {
      "main": [
        [
          {
            "node": "Read Export File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Rows": {
      "main": [
        [
          {
            "node": "Upsert Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Trades",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Daily": {
      "main": [
        [
          {
            "node": "Finalize Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Trades": {
      "main": [
        [
          {
            "node": "Finalize Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Telegram Summary": {
      "main": [
        [
          {
            "node": "Finalize Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Finalize Merge": {
      "main": [
        [
          {
            "node": "Finish Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert No Trades": {
      "main": [
        [
          {
            "node": "Finish Run (No Trades)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "WethrErrorAlert01"
  },
  "staticData": {
    "node:Daily 9AM Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "94e950e2-daa6-4957-8140-d20981ca89a6",
  "activeVersionId": "94e950e2-daa6-4957-8140-d20981ca89a6",
  "versionCounter": 243,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-28T01:47:23.692Z",
      "createdAt": "2026-03-28T01:47:23.692Z",
      "role": "workflow:owner",
      "workflowId": "4qdQAB9T0s5Q5JCo",
      "projectId": "MgXANMFgMXes60W6",
      "project": {
        "updatedAt": "2026-03-24T14:11:53.793Z",
        "createdAt": "2026-03-24T13:07:04.566Z",
        "id": "MgXANMFgMXes60W6",
        "name": "Chris LeBlanc <mcleblanc711@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1d2ab950-3cba-48c2-8577-c4b6dd58a279"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}